<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			Technical Lead/DevOps working at TAFE NSW, having previously worked in Telstra, AMP, Cochlear, Pickles Auctions and Woolworths for around 10 years, which has given me a good blend of medium and large-scale enterprise IT experience. Over the years I have developed full stack technical experience and skills in front end web, server side, DevOps, mobile technologies and integration solutions across IT domains – Government, Retail, Finance, Banking, Medical, FMCG and Auctions. <br/><br/>
			I enjoy creating great products with great user experiences and working in a dynamic environment with a focus on good development practices, automation and shipping small, frequent releases using agile development practices, sprints and thereby gaining insight over agile principles and practices. 
		</div>
		<br>
	</div>
</div>
